@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }